In [1]:
import flor
df = flor.dataframe("first_page", "page_color")
df

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
0,1.0,mueller_report_V1,1,0,mueller_report,2024-07-13 11:14:56,label_by_hand.py,1,NaN
1,1.0,mueller_report_V1,2,1,mueller_report,2024-07-13 11:14:56,label_by_hand.py,0,NaN
2,1.0,mueller_report_V1,3,2,mueller_report,2024-07-13 11:14:56,label_by_hand.py,0,NaN
3,1.0,mueller_report_V1,4,3,mueller_report,2024-07-13 11:14:56,label_by_hand.py,0,NaN
4,1.0,mueller_report_V1,5,4,mueller_report,2024-07-13 11:14:56,label_by_hand.py,0,NaN
...,...,...,...,...,...,...,...,...,...
1098,NaN,mueller_report_V1,203,202,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1099,NaN,mueller_report_V1,204,203,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1100,NaN,mueller_report_V1,205,204,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1101,NaN,mueller_report_V1,206,205,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1102,NaN,mueller_report_V1,207,206,mueller_report,2024-07-13 11:14:58,run.py,NaN,0

In [8]:
flor.utils.latest(df[df.page_color.notna()])

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
896,NaN,mueller_report_V1,1,0,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
897,NaN,mueller_report_V1,2,1,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
898,NaN,mueller_report_V1,3,2,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
899,NaN,mueller_report_V1,4,3,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
900,NaN,mueller_report_V1,5,4,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
...,...,...,...,...,...,...,...,...,...
1098,NaN,mueller_report_V1,203,202,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1099,NaN,mueller_report_V1,204,203,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1100,NaN,mueller_report_V1,205,204,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1101,NaN,mueller_report_V1,206,205,mueller_report,2024-07-13 11:14:58,run.py,NaN,0
1102,NaN,mueller_report_V1,207,206,mueller_report,2024-07-13 11:14:58,run.py,NaN,0