In [1]:
import flor

In [5]:
(df := flor.utils.latest(flor.dataframe("first_page", "page_color")))

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
20,NaN,coloradoBallot,1,0,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
21,NaN,coloradoBallot,2,1,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
22,NaN,coloradoBallot,3,2,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
23,NaN,coloradoBallot,4,3,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
24,NaN,coloradoBallot,5,4,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
25,NaN,coloradoBallot,6,5,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
26,NaN,coloradoBallot,7,6,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
27,NaN,coloradoBallot,8,7,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
28,NaN,coloradoBallot,9,8,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
29,NaN,coloradoBallot,10,9,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
30,NaN,coloradoBallot,11,10,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
31,NaN,coloradoBallot,12,11,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
32,NaN,coloradoBallot,13,12,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
33,NaN,coloradoBallot,14,13,scotus_parser,2024-03-07 08:56:03,flask,NaN,1
34,NaN,coloradoBallot,15,14,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
35,NaN,coloradoBallot,16,15,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
36,NaN,coloradoBallot,17,16,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
37,NaN,coloradoBallot,18,17,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
38,NaN,coloradoBallot,19,18,scotus_parser,2024-03-07 08:56:03,flask,NaN,0
39,NaN,coloradoBallot,20,19,scotus_parser,2024-03-07 08:56:03,flask,NaN,0

In [ ]:
flor.dataframe("page_color")

In [ ]:
flor.dataframe("first_page")

In [ ]:
flor.dataframe('merge-source', 'merged-text')

In [ ]:
memoized_features = flor.utils.latest(
        flor.dataframe(
            "txt-headings",
            "txt-page_numbers",
            "ocr-headings",
            "ocr-page_numbers",
            "merge-source",
            "merged-text",
        )
    )