In [1]:
import flor
flor.dataframe("first_page", "page_color")

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
0,1,mueller_report_V1_to_17,1,0,mueller_report,2024-07-11 07:42:36,label_by_hand.py,1,NaN
1,1,mueller_report_V1_to_17,2,1,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
2,1,mueller_report_V1_to_17,3,2,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
3,1,mueller_report_V1_to_17,4,3,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
4,1,mueller_report_V1_to_17,5,4,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
...,...,...,...,...,...,...,...,...,...
443,8,mueller_report_X,50,49,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
444,8,mueller_report_X,51,50,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
445,8,mueller_report_X,52,51,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
446,8,mueller_report_X,53,52,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
447,8,mueller_report_X,54,53,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN

In [ ]:
import flor
import pandas as pd

In [2]:
(df := flor.dataframe("first_page", "page_color"))

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
0,1,mueller_report_V1_to_17,1,0,mueller_report,2024-07-11 07:42:36,label_by_hand.py,1,NaN
1,1,mueller_report_V1_to_17,2,1,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
2,1,mueller_report_V1_to_17,3,2,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
3,1,mueller_report_V1_to_17,4,3,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
4,1,mueller_report_V1_to_17,5,4,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
...,...,...,...,...,...,...,...,...,...
443,8,mueller_report_X,50,49,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
444,8,mueller_report_X,51,50,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
445,8,mueller_report_X,52,51,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
446,8,mueller_report_X,53,52,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
447,8,mueller_report_X,54,53,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN

In [6]:
flor.utils.latest(df[df['document_value'] == 'mueller_report_V1_to_20'])

,document,document_value,page,page_value,projid,tstamp,filename,first_page,page_color
126,3,mueller_report_V1_to_20,1,0,mueller_report,2024-07-11 07:42:36,label_by_hand.py,1,NaN
127,3,mueller_report_V1_to_20,2,1,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN
128,3,mueller_report_V1_to_20,3,2,mueller_report,2024-07-11 07:42:36,label_by_hand.py,0,NaN

In [7]:
class config:
    first_page = 'first_page'
    page_color = 'page_color'
    
df = flor.utils.latest(flor.dataframe(config.first_page, config.page_color))
if not df.empty:
    if df[config.first_page].isna().any():
        df[config.first_page] = (
            df.shift(1)[config.page_color] != df[config.page_color]
        ).astype(int)
    else:
        df[config.first_page] = df[config.first_page].astype(int)

NameError: name 'config' is not defined

In [ ]:
(df := df[['projid', 'tstamp', 'filename', 'document_value', 'page', 'first_page', 'page_color']])

In [ ]:
# df sorty by tstamp, page 
(df := df.sort_values(by=['tstamp', 'filename', 'document_value', 'page']))

In [ ]:
(df := df[['projid', 'filename', 'tstamp', 'document_value', 'page', 'first_page', 'page_color']])

In [ ]:
flor.dataframe("page_color")

In [ ]:
flor.dataframe("first_page")

In [ ]:
flor.dataframe('merge-source', 'merged-text')

In [ ]:
df = flor.dataframe(
            "txt-headings",
            "txt-page_numbers",
            "ocr-headings",
            "ocr-page_numbers",
            "merge-source",
            "merged-text",
)
df

In [ ]:
df = df[['projid', 'tstamp', 'filename', 'document_value', 'page', 'ocr-headings', 'ocr-page_numbers', 'merge-source', 'merged-text']]
df

In [ ]:
df = df[df['merge-source'] == 'ocr']
df

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={'document_value': 'document', 'ocr_headings': 'headings', 'ocr-page_numbers': 'page_numbers', 'merge-source': 'text_src', 'merged-text': 'page_text'})
df

In [ ]:
pd.concat([df.head(), pd.DataFrame([['*'] * len(df.columns)], columns=df.columns, index=['*']), df.tail()])